<!DOCTYPE html>
<html lang="en">

{% include "pratials/head.html" %}

<body>
    {% include "pratials/header.html" %}
    <div class="container mt-5" x-data='{ 
                selectedOst: "", 
            }'>

        <div>
            <label for="ost-select" class="form-label">Select OST:</label>
            <select id="ost-select" x-model="selectedOst" class="form-select">
                <option value="" disabled>Choose an OST</option>
                {% for ost in osts %}
                <option value="{{ ost.acronym }}">{{ ost.name_fr }}</option>
                {% endfor %}
            </select>
            <p class="mt-2" x-show="selectedOst">
                You selected:
                (Key: <span x-text="selectedOst"></span>)
            </p>
        </div>

        <div x-show="selectedOst == 'cnac'">
            {% include "cnac/form.html" %}
            {% include "cnac/detail.html" %}
        </div>





    </div>

    <!-- Bootstrap JS v5.3 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>