{% extends 'main.html' %}

{% block content %}
<div class="container mt-5" x-data='{ 
                selectedOst: "", 
            }'>

    <div>
        <label for="ost-select" class="form-label">Select OST:</label>
        <select id="ost-select" x-model="selectedOst" class="form-select">
            <option value="" disabled>Choose an OST</option>
            {% for ost in organisations %}
            <option value="{{ ost.acronym }}">{{ ost.name_fr }}</option>
            {% endfor %}
        </select>
        <p class="mt-2" x-show="selectedOst">
            You selected:
            (Key: <span x-text="selectedOst"></span>)
        </p>
    </div>

    <div x-show="selectedOst == 'cnac'">
        {% include "cnac/form.html" %}
        {% include "cnac/detail.html" %}
    </div>





</div>
{% endblock content %}